In [53]:
import pandas as pd
from pathlib import Path


# read and import csv files as data frames
csvfile1 = Path("Resources/schools_complete.csv")
csvfile2 = Path("Resources/students_complete.csv")

school_df = pd.read_csv(csvfile1)
student_df = pd.read_csv(csvfile2)

#merge dataframes together
school_data_df = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
school_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [50]:
#find total number of unique schools

total_schools = school_data_df["school_name"].nunique()
print(f"There are {total_schools} unique schools in this data set.")

There are 15 unique schools in this data set.

In [51]:
# find total number of students
total_students = school_data_df["student_name"].count()
print(f"There are {total_students} students in this data set.")

There are 39170 students in this data set.

In [52]:
#find total budget
unique_budget = school_data_df["budget"].unique()
total_budget = unique_budget.sum()
print(f" The total budget of all the schools is ${total_budget}")

 The total budget of all the schools is $24649428

In [30]:
#find average math score
avg_math = school_data_df["math_score"].mean()
print(f"The average math score for all of the student is {avg_math}")

The average math score for all of the student is 78.98537145774827

In [31]:
# find average reading score
avg_reading = school_data_df["reading_score"].mean()
print(f"The average reading score for all of the student is {avg_reading}")

The average reading score for all of the student is 81.87784018381414

In [47]:
# find percent of students passing math (greather than or equal to 70)
math_pass = school_data_df.loc[school_data_df["math_score"] >= 70]
math_pass_count = math_pass["math_score"].count()
math_percentage = (math_pass_count/float(total_students) *100)
print(f"The percent of students that passed math with a score of 70 or higher is %{math_percentage}")

The percent of students that passed math with a score of 70 or higher is %74.9808526933878

In [55]:
# find percent of students passing readingg (greather than or equal to 70)
reading_pass = school_data_df.loc[school_data_df["reading_score"] >= 70]
reading_pass_count = reading_pass["reading_score"].count()
reading_percentage = (reading_pass_count/float(total_students) *100)
print(f"The percent of students that passed math with a score of 70 or higher is %{reading_percentage}")

The percent of students that passed math with a score of 70 or higher is %85.80546336482001

In [56]:
# find percent of students passing math and reading
overall_pass = school_data_df.loc[(school_data_df["math_score"] >= 70) & (school_data_df["reading_score"] >=70)]
overall_pass_count = overall_pass["student_name"].count()
overall_percentage = (overall_pass_count/float(total_students) *100)
print(f"The percent of students that passed math and reading with a score of 70 or higher is %{overall_percentage}")

The percent of students that passed math and reading with a score of 70 or higher is %65.17232575950983

In [66]:
#create a Dataframe from school district findings
district_data = {"Total Schools": total_schools, "Total Students": total_students, "Total Budget": total_budget, 
                 "Average Math Score": avg_math, "Average Reading Score": avg_reading,"% Passing Math": math_percentage,
                 "% Passing Reading": reading_percentage,"% Overall Passing": overall_percentage}
district_summary = pd.DataFrame(district_data, index = [0])

#format data frame
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326