In [49]:
import pandas as pd
from pathlib import Path


# read and import csv files as data frames
csvfile1 = Path("Resources/schools_complete.csv")
csvfile2 = Path("Resources/students_complete.csv")

school_df = pd.read_csv(csvfile1)
student_df = pd.read_csv(csvfile2)

#merge dataframes together
school_data_df = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
school_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [145]:
#find total number of unique schools

total_schools = school_data_df["school_name"].nunique()
total_schools

15

In [146]:
# find total number of students
total_students = school_data_df["student_name"].count()
total_students

39170

In [147]:
#find total budget
unique_budget = school_data_df["budget"].unique()
total_budget = unique_budget.sum()
total_budget

24649428

In [148]:
#find average math score
avg_math = school_data_df["math_score"].mean()
avg_math

78.98537145774827

In [149]:
# find average reading score
avg_reading = school_data_df["reading_score"].mean()
avg_reading

81.87784018381414

In [150]:
# find percent of students passing math (greather than or equal to 70)
math_pass = school_data_df.loc[school_data_df["math_score"] >= 70]
math_pass_count = math_pass["math_score"].count()
math_percentage = (math_pass_count/float(total_students) *100)
math_percentage

74.9808526933878

In [151]:
# find percent of students passing readingg (greather than or equal to 70)
reading_pass = school_data_df.loc[school_data_df["reading_score"] >= 70]
reading_pass_count = reading_pass["reading_score"].count()
reading_percentage = (reading_pass_count/float(total_students) *100)
reading_percentage

85.80546336482001

In [152]:
# find percent of students passing math and reading
overall_pass = school_data_df.loc[(school_data_df["math_score"] >= 70) & (school_data_df["reading_score"] >=70)]
overall_pass_count = overall_pass["student_name"].count()
overall_percentage = (overall_pass_count/float(total_students) *100)
overall_percentage

65.17232575950983

In [58]:
#create a Dataframe from school district findings
district_data = {"Total Schools": total_schools, "Total Students": total_students, "Total Budget": total_budget, 
                 "Average Math Score": avg_math, "Average Reading Score": avg_reading,"% Passing Math": math_percentage,
                 "% Passing Reading": reading_percentage,"% Overall Passing": overall_percentage}
district_summary = pd.DataFrame(district_data, index = [0])

#format data frame
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [161]:
#find school types using school_name as index
school_types = school_df.set_index(["school_name"])["type"]
school_types

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [163]:
# list of total students per school 
per_school_total = school_df.set_index(["school_name"])["size"]
per_school_total

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: size, dtype: int64

In [164]:
# list of total school budget
per_school_budget =  school_df.set_index(["school_name"])["budget"]
per_school_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [165]:
#list of school budget per student
per_student_budget = per_school_budget/per_school_total
per_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [167]:
#list  average math score per school
per_school_math = school_data_df.groupby(["school_name"])
per_school_math_average = per_school_math["math_score"].mean()
per_school_math_average

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [169]:
# list of average reading score per school
per_school_reading = school_data_df.groupby(["school_name"])
per_school_reading_average = per_school_reading["reading_score"].mean()
per_school_reading_average

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [170]:
# list of percent of students passing math per school

math_pass = school_data_df.loc[school_data_df["math_score"] >= 70]
math_pass_per_school = math_pass.groupby(["school_name"])["math_score"].count()
math_percent_per_school = math_pass_per_school/per_school_total * 100
math_percent_per_school

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [171]:
#list of percent of students passing reading per school
reading_pass = school_data_df.loc[school_data_df["reading_score"] >= 70]
reading_pass_per_school = reading_pass.groupby(["school_name"])["reading_score"].count()
reading_percent_per_school = reading_pass_per_school/per_school_total * 100
reading_percent_per_school

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [172]:
#list of student passing math and reading per school
overall_pass = school_data_df.loc[(school_data_df["math_score"] >= 70) & (school_data_df["reading_score"] >=70)]
overall_pass_per_school = overall_pass.groupby(["school_name"])["school_name"].count()
overall_percent_per_school = overall_pass_per_school/per_school_total *100
overall_percent_per_school

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [201]:
# create data frame of all of the per school lists collected above and format data
per_school_data = {"School Type": school_types, "Total Students": per_school_total,"Total School Budget": per_school_budget,
                   "Per Student Budget": per_student_budget,"Average Math Score": per_school_math_average,
                   "Average Reading Score":per_school_reading_average,	"% Passing Math": math_percent_per_school,
                   "% Passing Reading": reading_percent_per_school,"% Overall Passing": overall_percent_per_school}

per_school_summary = pd.DataFrame(per_school_data)

per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

per_school_summary.index.name = None
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [202]:
#display highest performing school by % overall passing
top_schools = per_school_summary.sort_values(["% Overall Passing"], ascending = False)
top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

In [203]:
bottom_schools = per_school_summary.sort_values(["% Overall Passing"])
bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

In [204]:
# Create data frame of Math scores by grade 
#filer data by grade
ninth_grade = school_data_df.loc[school_data_df["grade"] == "9th"]
tenth_grade = school_data_df.loc[school_data_df["grade"] == "10th"]
eleventh_grade = school_data_df.loc[school_data_df["grade"] == "11th"]
twelfth_grade = school_data_df.loc[school_data_df["grade"] == "12th"]

#find math score average per grade
ninth_grade_math_scores = ninth_grade.groupby(["school_name"])["math_score"].mean()
tenth_grade_math_scores = tenth_grade.groupby(["school_name"])["math_score"].mean()
eleventh_grade_math_scores = eleventh_grade.groupby(["school_name"])["math_score"].mean()
twelfth_grade_math_scores = twelfth_grade.groupby(["school_name"])["math_score"].mean()

#Create data frame

grade_math_data = {"9th Grade Average Math Score": ninth_grade_math_scores,"10th Grade Average Math Score": tenth_grade_math_scores,
                   "11th Grade Average Math Score": eleventh_grade_math_scores, "12th Grade Average Math Score": twelfth_grade_math_scores}

math_score_per_grade = pd.DataFrame(grade_math_data)
math_score_per_grade.index.name = None
math_score_per_grade

,9th Grade Average Math Score,10th Grade Average Math Score,11th Grade Average Math Score,12th Grade Average Math Score
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

In [206]:
#Create data frame of reading scores by grade, same steps as math just with different column inputs
ninth_grade = school_data_df.loc[school_data_df["grade"] == "9th"]
tenth_grade = school_data_df.loc[school_data_df["grade"] == "10th"]
eleventh_grade = school_data_df.loc[school_data_df["grade"] == "11th"]
twelfth_grade = school_data_df.loc[school_data_df["grade"] == "12th"]


ninth_grade_reading_scores = ninth_grade.groupby(["school_name"])["reading_score"].mean()
tenth_grade_reading_scores = tenth_grade.groupby(["school_name"])["reading_score"].mean()
eleventh_grade_reading_scores = eleventh_grade.groupby(["school_name"])["reading_score"].mean()
twelfth_grade_reading_scores = twelfth_grade.groupby(["school_name"])["reading_score"].mean()



grade_reading_data = {"9th Grade Average Reading Score": ninth_grade_reading_scores,"10th Grade Average Reading Score": tenth_grade_reading_scores,
                   "11th Grade Average Reading Score": eleventh_grade_reading_scores, "12th Grade Average Reading Score": twelfth_grade_reading_scores}

reading_score_per_grade = pd.DataFrame(grade_reading_data)
reading_score_per_grade.index.name = None
reading_score_per_grade

,9th Grade Average Reading Score,10th Grade Average Reading Score,11th Grade Average Reading Score,12th Grade Average Reading Score
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171